<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="Claim SLP tokens">
  
    <!-- Favicon -->
    <link rel="apple-touch-icon" sizes="60x60" href="/apple-touch-icon.png">
    <link rel="icon" type="image/png" sizes="32x32" href="/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="16x16" href="/favicon-16x16.png">

    <!-- Social Cards -->
    <meta name="twitter:card" content="summary" />
    <meta name="twitter:site" content="" />
    <meta name="twitter:title" content="The Simple Ledger Protocol Faucet" />
    <meta name="twitter:description" content="Browse and explore tokens built on top of Bitcoin Cash" />
    <meta name="twitter:image" content="https://simpleledger.info/img/social.png" />
    <meta name="twitter:image:alt" content="The Simple Ledger Protocol Faucet" />
    <meta property="og:url" content="https://simpleledger.network" />
    <meta property="og:type" content="website" />
    <meta property="og:title" content="The Simple Ledger Protocol Faucet" />
    <meta property="og:description" content="Claim SLP tokens" />
    <meta property="og:image" content="" />

    <title>MAZE SLP Token Faucet</title>

    <!-- Bootstrap core CSS -->
    <link href="css/bootstrap.min.css" rel="stylesheet">

    <!-- Custom styles -->
    <link href="css/custom.css" rel="stylesheet">
    
    <script src="https://hcaptcha.com/1/api.js" async defer></script>
  </head>
  <body>
    <header class="masthead mb-auto bg-dark">
        <div class="inner">
          <h3 class="masthead-brand">MAZE SLP Token Faucet</h3>
          <nav class="nav nav-masthead justify-content-center">
            <a class="nav-link active" href="#">Faucet</a>
            <a class="nav-link" href="https://simpleledger.info">Explorer</a>
            <a class="nav-link" href="https://simpleledger.cash">Learn More</a>
          </nav>
        </div>
    </header>
    
    <main role="main">
      <div class="jumbotron text-center p-5">
        <img class="logo-main" src="img/mazeslpfaucet.png" alt="MAZE SLP Token" />
            <h1>MAZE SLP Token - Let`s create!</h1>
            <p class="lead">Claim SLP tokens</p>
        <p>"Nothing is what it seems" ;-)<br><br>
        Claim (MAZE SLP Universe tokens) every 3 hours.</p>
        <form id="faucet-form" class="token-selector-form" action="/" method="post" >
          <% if(txid !== null){ %>
            <p>Congratulations, please check what token you have got:<br>
            <a href="https://explorer.bitcoin.com/bch/tx/<%= txid %>"><%= txid %></a>
            </p><br>
          <% } else { %>
          <input name="address" type="text" placeholder="Enter your SLP address, ex: simpleledger:qp7l6ns2g…" required>
          <div class="h-captcha" data-sitekey="576aa958-81ab-4878-a0c9-3560cc316468"></div>
            <% if(error !== null){ %>
              <p>error: <%= error %></p>
            <% } %>
          <p>Get your SLP address with <a href="https://wallet.bitcoin.com">Bitcoin.com wallet</a> , <a href="https://zapit.io/">Zapit wallet</a> , <a href="https://wallet.signup.cash/">Signup wallet</a> or <a href="https://simpleledger.cash/project/electron-cash-slp-edition/">Electron Cash SLP Edition</a>.</p>
          <p><input type="submit" value="Claim SLP tokens"></p>
          <p>
            <a href="https://heroku.com/deploy?template=https://github.com/mazetoken/slp-faucet"><img src="https://www.herokucdn.com/deploy/button.svg" alt="Deploy"></a>
          </p>
          <p>
            <script src="https://unpkg.com/@paybutton/paybutton@^1.0/dist/paybutton.js"></script>
            <div class="paybutton" to="bitcoincash:qrk3macg3sqhact07evk7u2hhq3el0plnul6fr4m5y"></div>
          </p>
          <p>
            <a href="https://t.me/BCH_clickbot?start=8Bfx"><img src="img/bchbotbutton.png" alt="Get free BCH with BCH Click Bot"></a>
          </p>
        </form>
          <!-- end .token-selector-form -->
          
        <h4 class="mb-4">Stay up to date:</h4>
        <ul id="sm-links" class="nav justify-content-center">
          <li class="nav-item">
            <a href="https://t.me/simpleledger"><img src="img/telegram.png" alt="Telegram" /></a>
          </li>
          <li class="nav-item">
            <a href="https://t.me/mazeslptoken"><img src="img/telegram.png" alt="Telegram" /></a>
          </li>
          <li class="nav-item">
            <a href="https://twitter.com/SimpleLedger"><img src="img/twitter.png" alt="Twitter" /></a>
          </li>
          <li class="nav-item">
            <a href="https://www.youtube.com/channel/UC_WJO3lyHAhdU6oEk0lhMLw"><img src="img/youtube.png" alt="Youtube" /></a>
          </li>
        </ul>
        <!-- end #sm-links -->
      </div>
      <!-- end .jumbotron -->
      
      <div class="blurb bg-secondary p-5">
        <div class="container">
          <div class="row">
            <div class="col">
              <h3>MAZE SLP Universe tokens</h3>
              <div class="divider"></div>
              <p>MAZE, MAZE NFT, dSLP, BHACK, ZOMBIE, ZOMBIE NFT, STEREO, STEREO NFT, ARENA, ARENA NFT, MISTY NFT</p>
            </div>
          </div>
        </div>
      </div>
      <!-- end .blurb -->
      
      <div id="featured-projects" class="container">
        <div class="row">
          <div class="col">
            <h3>Featured Projects (not related to SLP developers)</h3>
          </div>
        </div>
        <div class="row">
          <div class="col">
            <img src="img/maze96.png" alt="MAZE SLP Token" class="mb-4" />
            <h4><a href="https://mazetoken.github.io">MAZE SLP Token</a></h4>
            <p>MAZE is a mineable, proof-of-work SLP token and NFT Group token based on <a href="https://mistcoin.org">Mistcoin</p>
          </div>
          <div class="col">
            <img src="img/rebel96.png" alt="REBEL" class="mb-4" />
            <h4><a href="https://github.com/mazetoken/yield-farming-bch-smart-contract">REBEL SLP Token</a></h4>
            <p>REBEL (MAZE-REBEL) is a smart contract SLP token based on <a href="https://cashscript.org">CashScript</a>.</p>
          </div>
        </div>
      </div>
      <!-- end #featured-projects -->
      
      <div id="banner-bottom">
        <div class="row p-5 text-center">
          <div class="col">
            <h3>Get Started with SLP Tokens</h3>
          </div>
        </div>
      </div>
    </main>
    
      <footer id="footer-main" class="bg-dark p-5">
        <div class="row">
          <div class="col">
            <h4>Source Code</h4>
            <ul class="list-unstyled text-small">
              <li><a class="text-muted" href="http://github.com/blockparty-sh/slp-explorer">SLP Explorer</a></li>
              <li><a class="text-muted" href="https://github.com/simpleledger/SLPDB">SLPDB</a></li>
              <li><a class="text-muted" href="https://github.com/fountainhead-cash/slpserve">slpserve</a></li>
              <li><a class="text-muted" href="https://github.com/fountainhead-cash/slpqueryd">slpqueryd</a></li>
              <li><a class="text-muted" href="https://github.com/simpleledger/slpjs">slpjs</a></li>
            </ul>
          </div>
          <div class="col">
            <h4>Resources</h4>
            <ul class="list-unstyled text-small">
              <li><a class="text-muted" href="https://simpleledger.cash">simpleledger.cash</a></li>
              <li><a class="text-muted" href="https://github.com/simpleledger/slp-specifications">specification</a></li>
              <li><a class="text-muted" href="https://developer.bitcoin.com/slp/">slp-sdk</a></li>
            </ul>
          </div>
          <div class="col">
            <h4>Connect</h4>
            <ul class="list-unstyled text-small">
              <li><a class="text-muted" href="https://t.me/simpleledger">SimpleLedger Chat</a></li>
              <li><a class="text-muted" href="https://www.youtube.com/channel/UC_WJO3lyHAhdU6oEk0lhMLw">SimpleLedger Youtube</a></li>
              <li><a class="text-muted" href="https://twitter.com/SimpleLedger">SimpleLedger Twitter</a></li>
              <li><a class="text-muted" href="http://t.me/fountainheadcash">Fountainhead Chat</a></li>
              <li><a class="text-muted" href="https://t.me/mazeslptoken">MAZE SLP Token Chat</a></li>
            </ul>
          </div>
        </div>
      </footer>
      <!-- Bootstrap core JavaScript
      ================================================== -->
      <!-- Placed at the end of the document so the pages load faster -->
      <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
      <script>window.jQuery || document.write('<script src="../../assets/js/vendor/jquery-slim.min.js"><\/script>')</script>
      <script src="js/bootstrap.min.js"></script>
    <script src="js/script.js"></script>
  </body>
</html>